.main {
    display: flex;
    margin-left: 0%;
    margin-right: 0%;
}
.header{
    text-align: center;
    padding-right: 10%;
}
.conteiner{
    padding: 5%;
    border: 1px;
    margin-left: 5%;
}
.order_f>{

}
.head_f{
    text-align: center;
    padding: 2%;
    background-color: #2ae554;
    border: 3px;
    border-radius: 20px;
}
.order_u{

}
.head_u{
    text-align: center;
    padding: 2%;
    background-color: yellow;
    border: 3px;
    border-radius: 20px;
}