{% extends "base.html" %}
{% load static %}

{% block title %}Клиенты{% endblock %}
{% block active %}Клиенты{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/client.css' %}">
<h3 class="header">{{client}}</h3>
<ul>
{% for office in client.offices.all %}
  <li><h5> Офис в {{office.adress}}</h5></li>
  <h6>Контакт: {{office.contact}}</h6>
  <h6>Заказы:</h6>
  <ul>
    {% for order in office.orders.all %}
    <div class="order">
    <li><a href="{% url 'order'%}/{{order.id}}">Партия от {{order.date_input}}</a></li>
    Статус - {{order.status}}
    </div>
    {% endfor %}
  </ul>
{% endfor %}
</ul>
{% endblock %}
